<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header><% include ./partials/_header.ejs %></header>
  <p><a href="/urls/new"=/urls/new" >Create a new short URL</a></p>
    <table class="table">
      <tr>
        <th>List of URLs</th>
      </tr>
      <% for (let shortURL in urls) { %>
      <tr>
        <td><%= shortURL %>: <a href="http://<%= urls[shortURL] %>"> <%= urls[shortURL] %></a></td>
        <td><a href="/urls/<%= shortURL %>">Edit</a></td>
        <td>
          <form method="POST" action="/urls/<%= shortURL %>/delete"/ >
              <button>Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
</body>
</html>