<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header><% include ./partials/_header.ejs %></header>
    <table class="table">
      <p><a href="/urls/new"=/urls/new" >Create a new TinyURL</a></p>
      <tr>
        <% if (user) { %>
      <th>Your TinyURLs</th>
    <% } %>
    </tr>
      <% for (let shortURL in userUrls) { %>
      <tr>
        <td><%= shortURL %>: <a href="http://<%= userUrls[shortURL] %>"> <%= userUrls[shortURL] %></a></td>
        <td><a href="/urls/<%= shortURL %>">Edit</a></td>
        <td>
          <form method="POST" action="/urls/<%= shortURL %>/delete"/ >
              <button>Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
</body>
</html>